# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in ufs-weather-model should be owned by the UFS Community Gatekeepers
* @ufs-community/ufs-gatekeepers

# Everything in ufs-weather-model should be also be owned by the UFS Weather Model Gatekeepers
* @ufs-community/ufs-wm-gatekeepers

# The components are owned by their respective teams
/FV3/ @noaa-emc/fv3atm-team
/NEMS/ @noaa-emc/nems-team
#/FMS/ @noaa-emc/fms-team
#/FMS/ @noaa-gfdl/fms-team
