[submodule "FV3"]
  path = FV3
  #url = https://github.com/NOAA-EMC/fv3atm
  #branch = production/AQM.v7
  url = https://github.com/BrianCurtis-NOAA/fv3atm
  branch = remove_nowarn_acs
[submodule "stochastic_physics"]
  path = stochastic_physics
  url = https://github.com/NOAA-PSL/stochastic_physics
  branch = master
[submodule "CMakeModules"]
  path = CMakeModules
  url = https://github.com/NOAA-EMC/CMakeModules
  branch = develop
[submodule "AQM"]
  path = AQM
  url = https://github.com/NOAA-EMC/AQM
  branch = production/AQM.v7
