[submodule "FV3"]
  path = FV3
  url = https://github.com/dkokron/fv3atm
  branch = hafs-rangeCheck3d
[submodule "WW3"]
  path = WW3
  url = https://github.com/dkokron/WW3
  branch = dev/ufs-weather-model
[submodule "stochastic_physics"]
  path = stochastic_physics
  url = https://github.com/NOAA-PSL/stochastic_physics
  branch = master
[submodule "CMakeModules"]
  path = CMakeModules
  url = https://github.com/dkokron/CMakeModules
  branch = hafs-rangeCheck3d
[submodule "CMEPS"]
  path = CMEPS-interface/CMEPS
  url = https://github.com/dkokron/CMEPS
  branch = emc/develop
[submodule "HYCOM"]
  path = HYCOM-interface/HYCOM
  url = https://github.com/dkokron/HYCOM-src
  branch = emc/develop
[submodule "MOM6"]
  path = MOM6-interface/MOM6
  url = https://github.com/dkokron/MOM6
  branch = dev/emc
[submodule "CICE"]
  path = CICE-interface/CICE
  url = https://github.com/dkokron/CICE
  branch = emc/develop
[submodule "CDEPS"]
  path = CDEPS-interface/CDEPS
  url = https://github.com/dkokron/CDEPS
  branch = hafs-rangeCheck3d
[submodule "GOCART"]
  path = GOCART
  url = https://github.com/GEOS-ESM/GOCART
  branch = hafs-rangeCheck3d
[submodule "AQM"]
  path = AQM
  url = https://github.com/dkokron/AQM
  branch = hafs-rangeCheck3d
[submodule "NOAHMP"]
  path = NOAHMP-interface/noahmp
  url = https://github.com/dkokron/noahmp
  branch = hafs-rangeCheck3d
