[submodule "FV3"]
	path = FV3
	url = https://github.com/TomBlack-NOAA/fv3atm
	branch = blend_DA
[submodule "NEMS"]
	path = NEMS
	url = https://github.com/NOAA-EMC/NEMS
	branch = develop
[submodule "FMS"]
	path = FMS
	url = https://github.com/NOAA-GFDL/FMS
	branch = master
[submodule "WW3"]
	path = WW3
	url = https://github.com/NOAA-EMC/WW3
	branch = develop
[submodule "stochastic_physics"]
	path = stochastic_physics
	url = https://github.com/noaa-psd/stochastic_physics

