#
# Resource file Nitrate parameters.
#

nbins: 5

aerosol_radBands_optics_file: ExtData/optics/opticsBands_NI.v2_5.RRTMG.nc
aerosol_monochromatic_optics_file: ExtData/monochromatic/optics_NI.v2_5.nc

# Scavenging efficiency per bin [km-1]
fscav: 0.0   0.4    0.4    0.4    0.4

# Dry particle radius [um], used for settling
particle_radius_microns:  0.0    0.2695 0.2695 2.1    7.57

# Dry particle density [kg m-3]
particle_density: 1000   1769   1725   2200   2650

# Molecular weight of species [kg mole-1]
molecular_weight: 0.18  0.18  0.18  0.18  0.18

# Number of particles per kg mass
fnum: 1.50e19  1.50e19  1.50e19  1.50e19  1.50e19

# Number median radius [um]
particle_radius_number: 0.0118  0.0118  0.0118  0.0118  0.0118

# Sigma of lognormal number distribution
sigma: 2.0  2.0  2.0  2.0  2.0

pressure_lid_in_hPa: 0.01

rhFlag: 0
