#!/bin/bash
set -eux

module use /ncrc/proj/epic/rocoto/modulefiles
module load rocoto
ROCOTORUN=$(which rocotorun)
ROCOTOSTAT=$(which rocotostat)
ROCOTOCOMPLETE=$(which rocotocomplete)
ROCOTO_SCHEDULER=slurm
  
module load PrgEnv-intel/8.3.3
module load intel-classic/2023.1.0
module load cray-mpich/8.1.25
module load python/3.9.12
module use /ncrc/proj/epic/spack-stack/modulefiles
module load gcc/12.2.0
module load ecflow/5.8.4
ECFLOW_START=/ncrc/proj/epic/spack-stack/ecflow-5.8.4/bin/ecflow_start.sh
ECF_PORT=$(( $(id -u) + 1500 ))
