#!/bin/bash
set -eux

module load git/2.28.0
module load gcc/10.2.0
module load python/3.9.2

module load contrib rocoto
ROCOTORUN=$(which rocotorun)
ROCOTOSTAT=$(which rocotostat)
ROCOTOCOMPLETE=$(which rocotocomplete)
ROCOTO_SCHEDULER=slurm

module use /work/noaa/epic/role-epic/spack-stack/orion/modulefiles
module load ecflow/5.8.4
ECFLOW_START=/work/noaa/epic/role-epic/spack-stack/orion/ecflow-5.8.4/bin/ecflow_start.sh
ECF_PORT=$(( $(id -u) + 1500 ))
