#!/bin/bash
set -eux

echo "=======Running on $(lsb_release -is)======="
CurJetOS=$(lsb_release -is)
if [[ ${CurJetOS} == "CentOS" ]]; then
    echo "=======Please, move to Rocky8 node fe[5-8]======="
    exit 1
fi
  
module load rocoto
ROCOTORUN=$(which rocotorun)
ROCOTOSTAT=$(which rocotostat)
ROCOTOCOMPLETE=$(which rocotocomplete)
ROCOTO_SCHEDULER=slurm

module load ecflow/5.11.4
ECFLOW_START=/apps/ecflow/5.11.4/bin/ecflow_start.sh

module use /mnt/lfs4/HFIP/hfv3gfs/role.epic/spack-stack/spack-stack-1.5.0/envs/unified-env-rocky8/install/modulefiles/Core
module load stack-intel/2021.5.0
module load stack-python/3.10.8

