#!/bin/bash
set -eux

if [[ "${ROCOTO:-false}" == true ]] ; then
    module load rocoto
    ROCOTORUN=$(which rocotorun)
    ROCOTOSTAT=$(which rocotostat)
    ROCOTOCOMPLETE=$(which rocotocomplete)
    ROCOTO_SCHEDULER=slurm
fi

if [[ "${ECFLOW:-false}" == true ]] ; then
    module load ecflow/5.11.4
    ECFLOW_START=ecflow_start.sh
fi
