#!/bin/bash
set -eux

module load ecflow/5.6.0.13
module load intel/19.1.3.304 python/3.8.6
ECFLOW_START=${ECF_ROOT}/scripts/server_check.sh
export ECF_OUTPUTDIR=${PATHRT}/ecf_outputdir
export ECF_COMDIR=${PATHRT}/ecf_comdir
rm -rf ${ECF_OUTPUTDIR} ${ECF_COMDIR}
mkdir -p ${ECF_OUTPUTDIR}
mkdir -p ${ECF_COMDIR}
export colonifnco=":output"  # hack
