#!/bin/bash
set -eux

module use /ncrc/proj/epic/rocoto/modulefiles
module load rocoto
ROCOTORUN=/ncrc/proj/epic/rocoto/1.3.6/bin/rocotorun
ROCOTOSTAT=/ncrc/proj/epic/rocoto/1.3.6/bin/rocotostat
ROCOTOCOMPLETE=/ncrc/proj/epic/rocoto/1.3.6/bin/rocotocomplete
ROCOTO_SCHEDULER=slurm
export ROCOTORUN
export ROCOTOSTAT
export ROCOTOCOMPLETE
export ROCOTO_SCHEDULER

module load python/3.9
