#!/bin/bash
set -eux

module use /glade/work/epicufsrt/contrib/derecho/modulefiles
module load rocoto/1.3.7
      
module use -a /glade/work/epicufsrt/conda/modulefiles.derecho
module load anaconda/23.7.4

ROCOTORUN=/glade/work/epicufsrt/contrib/derecho/rocoto-1.3.7/bin/rocotorun
ROCOTOSTAT=/glade/work/epicufsrt/contrib/derecho/rocoto-1.3.7/bin/rocotostat
ROCOTOCOMPLETE=/glade/work/epicufsrt/contrib/derecho/rocoto-1.3.7/bin/rocotocomplete
ROCOTO_SCHEDULER=pbspro
export ROCOTORUN
export ROCOTOSTAT
export ROCOTOCOMPLETE
export ROCOTO_SCHEDULER
