#!/bin/bash
set -eux
  
module load rocoto
ROCOTORUN=/apps/rocoto/1.3.7/bin/rocotorun
ROCOTOSTAT=/apps/rocoto/1.3.7/bin/rocotostat
ROCOTOCOMPLETE=/apps/rocoto/1.3.7/bin/rocotocomplete
ROCOTO_SCHEDULER=slurm
export ROCOTORUN
export ROCOTOSTAT
export ROCOTOCOMPLETE
export ROCOTO_SCHEDULER

module load intelpython/2023.2.0
