#!/bin/bash
set -eux

module use /glade/work/epicufsrt/contrib/derecho/rocoto/modulefiles
module load rocoto

module use -a /glade/derecho/scratch/jongkim/modulefiles.derecho
module load anaconda/23.7.4

cp fv3_conf/fv3_qsub.IN_derecho fv3_conf/fv3_qsub.IN
cp fv3_conf/compile_qsub.IN_derecho fv3_conf/compile_qsub.IN

ROCOTORUN=/glade/work/epicufsrt/contrib/derecho/rocoto/bin/rocotorun
ROCOTOSTAT=/glade/work/epicufsrt/contrib/derecho/rocoto/bin/rocotostat
ROCOTOCOMPLETE=/glade/work/epicufsrt/contrib/derecho/rocoto/bin/rocotocomplete
ROCOTO_SCHEDULER=pbspro
export ROCOTORUN
export ROCOTOSTAT
export ROCOTOCOMPLETE
export ROCOTO_SCHEDULER
