#!/bin/bash
set -eux

module load contrib rocoto
ROCOTORUN=/apps/contrib/rocoto/1.3.7/bin/rocotorun
ROCOTOSTAT=/apps/contrib/rocoto/1.3.7/bin/rocotostat
ROCOTOCOMPLETE=/apps/contrib/rocoto/1.3.7/bin/rocotocomplete
ROCOTO_SCHEDULER=slurm
export ROCOTORUN
export ROCOTOSTAT
export ROCOTOCOMPLETE
export ROCOTO_SCHEDULER

module use -a /work/noaa/epic/conda/modulefiles.hercules
module load anaconda/23.7.4


