PrimaryExports%%
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
#  Import      |       |       | Regrid |        Refresh       | OffSet | Scale  | Variable On |   File   |
#  Name        | Units | Clim  | Method |     Time Template    | Factor | Factor |     File    | Template |
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|

#====== Atmospheric Parameters =======================================
TROPP            'Pa'    Y       N                  -            0.0      1.0      TROPP         /dev/null:10000.

#====== Dust Imports =================================================
# FENGSHA input files. Note: regridding should be N or E
DU_CLAY           '1'  Y E           -           none none clayfrac    ExtData/dust/FENGSHA_SOILGRIDS2019_GEFSv12_v1.2.nc
DU_SAND           '1'  Y E           -           none none sandfrac    ExtData/dust/FENGSHA_SOILGRIDS2019_GEFSv12_v1.2.nc
DU_SILT           '1'  Y E           -           none none siltfrac    /dev/null
DU_SSM            '1'  Y E %y4-%m2-%d2T12:00:00  none none ssm         /dev/null:1.0
DU_RDRAG          NA   Y N %y4-%m2-%d2t12:00:00  none none albedo_drag ExtData/dust/FENGSHA_Albedo_drag_v1.nc
DU_UTHRES         '1'  Y E           -           none none uthres      ExtData/dust/randomforestensemble_uthres.nc

#====== BIOMASS BURNING EMISSIONS =======================================

# QFED
#--------------------------------------------------------------------------------------------------------------------------------
SU_BIOMASS NA  N Y %y4-%m2-%d2t12:00:00 none none biomass ExtData/QFED/%y4/%m2/qfed2.emis_so2.006.%y4%m2%d2.nc4
OC_BIOMASS NA  N Y %y4-%m2-%d2t12:00:00 none none biomass ExtData/QFED/%y4/%m2/qfed2.emis_oc.006.%y4%m2%d2.nc4
BC_BIOMASS NA  N Y %y4-%m2-%d2t12:00:00 none none biomass ExtData/QFED/%y4/%m2/qfed2.emis_bc.006.%y4%m2%d2.nc4
EMI_NH3_BB NA  N Y %y4-%m2-%d2t12:00:00 none none biomass ExtData/QFED/%y4/%m2/qfed2.emis_nh3.006.%y4%m2%d2.nc4

#====== Sulfate Sources =================================================
# Anthropogenic (BF & FF) emissions -- allowed to input as two layers
SU_ANTHROL1 NA  N Y %y4-%m2-%d2t12:00:00 none none SO2      ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc
SU_ANTHROL2 NA  N Y %y4-%m2-%d2t12:00:00 none none SO2_elev ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc

# Ship emissions
SU_SHIPSO2 NA  N Y %y4-%m2-%d2t12:00:00 none none SO2_ship ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc
SU_SHIPSO4 NA  N Y %y4-%m2-%d2t12:00:00 none none SO4_ship ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc

# Aircraft fuel consumption
SU_AIRCRAFT NA  Y Y %y4-%m2-%d2t12:00:00 none none none /dev/null

# DMS concentration
SU_DMSO NA  Y Y %y4-%m2-%d2t12:00:00 none none conc ExtData/MERRA2/sfc/DMSclim_sfcconcentration.x360_y181_t12.Lana2011.nc4

# Aviation emissions during the three phases of flight
SU_AVIATION_LTO NA  Y Y %y4-%m2-%d2t12:00:00 none none so2_aviation ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so2.aviation_lto.x3600_y1800_t12.2010.nc4
SU_AVIATION_CDS NA  Y Y %y4-%m2-%d2t12:00:00 none none so2_aviation ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so2.aviation_cds.x3600_y1800_t12.2010.nc4
SU_AVIATION_CRS NA  Y Y %y4-%m2-%d2t12:00:00 none none so2_aviation ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so2.aviation_crs.x3600_y1800_t12.2010.nc4

# H2O2, OH and NO3 mixing ratios
# --------------------------------------------------------------
SU_H2O2 NA  N Y %y4-%m2-%d2t12:00:00 none none h2o2 ExtData/PIESA/L127/A2_ACCMIP_gmic_MERRA_oh_h2o2_no3.x144_y91_z127_t14.%y4.nc
SU_OH   NA  N Y %y4-%m2-%d2t12:00:00 none none oh   ExtData/PIESA/L127/A2_ACCMIP_gmic_MERRA_oh_h2o2_no3.x144_y91_z127_t14.%y4.nc
SU_NO3  NA  N Y %y4-%m2-%d2t12:00:00 none none no3  ExtData/PIESA/L127/A2_ACCMIP_gmic_MERRA_oh_h2o2_no3.x144_y91_z127_t14.%y4.nc
#---------------------------------------------------------------

# Production of SO2 from OCS oxidation
pSO2_OCS NA Y Y %y4-%m2-%d2t12:00:00 none none biofuel /dev/null

#SU_regionMask   NA  N v - none none REGION_MASK /dev/null

#=========== Carbonaceous aerosol sources ===========================================
# ORGANIC CARBON
# ---------------

# VOCs - OFFLINE MEGAN BIOG
OC_ISOPRENE NA  N Y %y4-%m2-%d2t12:00:00 none none isoprene ExtData/MEGAN_OFFLINE_BVOC/v2019-10/%y4/MEGAN.OFFLINE.BIOVOC.%y4.emis.%y4%m2%d2.nc
OC_LIMO     NA  N Y %y4-%m2-%d2t12:00:00 none none limo     ExtData/MEGAN_OFFLINE_BVOC/v2019-10/%y4/MEGAN.OFFLINE.BIOVOC.%y4.emis.%y4%m2%d2.nc
OC_MTPA     NA  N Y %y4-%m2-%d2t12:00:00 none none mtpa     ExtData/MEGAN_OFFLINE_BVOC/v2019-10/%y4/MEGAN.OFFLINE.BIOVOC.%y4.emis.%y4%m2%d2.nc
OC_MTPO     NA  N Y %y4-%m2-%d2t12:00:00 none none mtpo     ExtData/MEGAN_OFFLINE_BVOC/v2019-10/%y4/MEGAN.OFFLINE.BIOVOC.%y4.emis.%y4%m2%d2.nc

# Biofuel Source -- Included in AeroCom anthropogenic emissions
OC_BIOFUEL NA  Y Y %y4-%m2-%d2t12:00:00 none none biofuel /dev/null

# Anthropogenic (BF & FF) emissions -- allowed to input as two layers
OC_ANTEOC1 NA  N Y %y4-%m2-%d2t12:00:00 none none OC       ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc
OC_ANTEOC2 NA  N Y %y4-%m2-%d2t12:00:00 none none OC_elev  ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc

# EDGAR based ship emissions
OC_SHIP    NA  N Y %y4-%m2-%d2t12:00:00 none none OC_ship  ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc

# Aircraft fuel consumption
OC_AIRCRAFT NA  N Y %y4-%m2-%d2t12:00:00 none none oc_aviation /dev/null

# Aviation emissions during the three phases of flight
OC_AVIATION_LTO NA  Y Y %y4-%m2-%d2t12:00:00 none none oc_aviation ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_oc.aviation_lto.x3600_y1800_t12.2010.nc4
OC_AVIATION_CDS NA  Y Y %y4-%m2-%d2t12:00:00 none none oc_aviation ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_oc.aviation_cds.x3600_y1800_t12.2010.nc4
OC_AVIATION_CRS NA  Y Y %y4-%m2-%d2t12:00:00 none none oc_aviation ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_oc.aviation_crs.x3600_y1800_t12.2010.nc4

# SOA production
pSOA_ANTHRO_VOC NA Y Y %y4-%m2-%d2t12:00:00 none none biofuel /dev/null

#============================================================================================================
# BLACK CARBON
# ------------

# Biofuel Source -- Included in AeroCom anthropogenic emissions
BC_BIOFUEL NA  Y Y %y4-%m2-%d2t12:00:00 none none biofuel /dev/null

# Anthropogenic (BF & FF) emissions -- allowed to input as two layers
BC_ANTEBC1 NA  N Y %y4-%m2-%d2t12:00:00 none none BC       ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc
BC_ANTEBC2 NA  N Y %y4-%m2-%d2t12:00:00 none none BC_elev  ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc

# EDGAR based ship emissions
BC_SHIP NA  N Y %y4-%m2-%d2t12:00:00 none none BC_ship  ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc

# Aircraft fuel consumption
BC_AIRCRAFT NA  N Y %y4-%m2-%d2t12:00:00 none none bc_aviation /dev/null

# Aviation emissions during the LTO, SDC and CRS phases of flight
BC_AVIATION_LTO NA  Y Y %y4-%m2-%d2t12:00:00 none none bc_aviation ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_bc.aviation_lto.x3600_y1800_t12.2010.nc4
BC_AVIATION_CDS NA  Y Y %y4-%m2-%d2t12:00:00 none none bc_aviation ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_bc.aviation_cds.x3600_y1800_t12.2010.nc4
BC_AVIATION_CRS NA  Y Y %y4-%m2-%d2t12:00:00 none none bc_aviation ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_bc.aviation_crs.x3600_y1800_t12.2010.nc4

#============================================================================================================
# BROWN CARBON
# ------------
# Biomass burning -- QFED-v2.x
BRC_BIOMASS NA  N Y %y4-%m2-%d2t12:00:00 none none biomass /dev/null

# Terpene emission
BRC_TERPENE NA  Y Y %y4-%m2-%d2t12:00:00 none none terpene /dev/null

# Biofuel Source -- Included in AeroCom anthropogenic emissions
BRC_BIOFUEL NA  Y Y %y4-%m2-%d2t12:00:00 none none biofuel /dev/null

# Anthropogenic (BF & FF) emissions -- allowed to input as two layers
BRC_ANTEBRC1 NA  Y Y %y4-%m2-%d2t12:00:00 none none anteoc1 /dev/null
BRC_ANTEBRC2 NA  Y Y %y4-%m2-%d2t12:00:00 none none anteoc2 /dev/null

# EDGAR based ship emissions
BRC_SHIP    NA  Y Y %y4-%m2-%d2t12:00:00 none none oc_ship /dev/null

# Aircraft fuel consumption
BRC_AIRCRAFT NA  N Y %y4-%m2-%d2t12:00:00 none none none /dev/null

# Aviation emissions during the three phases of flight
BRC_AVIATION_LTO NA  Y Y %y4-%m2-%d2t12:00:00 none none oc_aviation /dev/null
BRC_AVIATION_CDS NA  Y Y %y4-%m2-%d2t12:00:00 none none oc_aviation /dev/null
BRC_AVIATION_CRS NA  Y Y %y4-%m2-%d2t12:00:00 none none oc_aviation /dev/null

# SOA production
pSOA_BIOB_VOC NA Y Y %y4-%m2-%d2t12:00:00 none none biofuel /dev/null

# ======= Nitrate Sources ========
EMI_NH3_AG   'kg m-2 s-1'  N Y      %y4-%m2-%d2T12:00:00    none     none     NH3_ag      ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc
EMI_NH3_EN   'kg m-2 s-1'  N Y      %y4-%m2-%d2T12:00:00    none     none     NH3_en      /dev/null
EMI_NH3_IN   'kg m-2 s-1'  N Y      %y4-%m2-%d2T12:00:00    none     none     NH3_in      ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc
EMI_NH3_RE   'kg m-2 s-1'  N Y      %y4-%m2-%d2T12:00:00    none     none     NH3_re      ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc
EMI_NH3_TR   'kg m-2 s-1'  N Y      %y4-%m2-%d2T12:00:00    none     none     NH3_tr      ExtData/CEDS/v2019/%y4/CEDS.2019.emis.%y4%m2%d2.nc
EMI_NH3_OC   'kg m-2 s-1'  Y Y      %y4-%m2-%d2T12:00:00    none     none     emiss_ocn   ExtData/PIESA/sfc/GEIA.emis_NH3.ocean.x576_y361.t12.20080715_12z.nc4

# --------------------------------------------------------------
NITRATE_HNO3 'mol mol-1'   Y N      %y4-%m2-%d2T12:00:00    none     0.20     hno3        ExtData/PIESA/L127/GMI.vmr_HNO3.x144_y91.t12.2006.nc4
# --------------------------------------------------------------
NI_regionMask NA           Y V      -                       none     none     REGION_MASK ExtData/PIESA/sfc/ARCTAS.region_mask.x540_y361.2008.nc

%%
