#
# Resource file for Organic Carbon parameters. 
#

aerosol_radBands_optics_file: ExtData/optics/opticsBands_OC.v1_3.RRTMG.nc
aerosol_monochromatic_optics_file: ExtData/monochromatic/optics_OC.v1_3.nc

# Heights [m] of LTO, CDS and CRS aviation emissions layers
aviation_vertical_layers: 0.0 100.0 9.0e3 10.0e3

# Fraction of biogenic VOCs emissions for SOA production
monoterpenes_emission_fraction: 0.05
isoprene_emission_fraction:     0.03

# Ratio of POM/OC -> convert source masses from carbon to POM
pom_ca_ratio: 1.8

# particle radius
particle_radius_microns: 0.35 0.35

rhFlag: 0

# Initially hydrophobic portion
hydrophobic_fraction: 0.5

# Scavenging efficiency per bin [km-1] (NOT USED UNLESS RAS IS CALLED)
fscav: 0.0  0.4 

# Dry particle density [kg m-3]
particle_density: 1800   1800

# Molecular weight of species [kg mole-1]
molecular_weight: 0.18  0.18

# Number of particles per kg mass
fnum: 9.76e17  9.76e17

# Sigma of lognormal number distribution
sigma: 2.20  2.20

pressure_lid_in_hPa: 0.01

nbins: 2 
