#
# Resource file for Black Carbon parameters. 
#

nbins:  2

aerosol_radBands_optics_file: ExtData/optics/opticsBands_BC.v1_3.RRTMG.nc
aerosol_monochromatic_optics_file: ExtData/monochromatic/optics_BC.v1_3.nc

# Heights [m] of LTO, CDS and CRS aviation emissions layers
aviation_vertical_layers: 0.0 100.0 9.0e3 10.0e3

# Initially hydrophobic portion
hydrophobic_fraction: 0.8

# Scavenging efficiency per bin [km-1] (NOT USED UNLESS RAS IS CALLED)
fscav: 0.0  0.4 

# Dry particle density [kg m-3]
particle_density: 1800   1800

# Molecular weight of species [kg mole-1]
molecular_weight: 0.18  0.18

# Number of particles per kg mass
fnum: 1.50e19  1.50e19

# Number median radius [um]
particle_radius_microns: 0.35 0.35

rhFlag: 0

# Sigma of lognormal number distribution
sigma: 2.0  2.0

pressure_lid_in_hPa: 0.01

